/* CSS Stylesheet */
::selection {color:#fff;background:#8AC007;}
::-moz-selection {color:#fff;background:#8AC007;}

.portrait { display: none;}

@font-face {
  font-family: 'twitter';
  src: url('../fonts/twitter.eot?44897942');
  src: url('../fonts/twitter.eot?44897942#iefix') format('embedded-opentype'),
       url('../fonts/twitter.woff?44897942') format('woff'),
       url('../fonts/twitter.ttf?44897942') format('truetype'),
       url('../fonts/twitter.svg?44897942#twitter') format('svg');
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #141414;
}

a { text-decoration: none; }

#container {
	top: 0px;
	bottom: -60px;
	position:absolute;
}
#menu {
	background:#141414;
	width:30%;
	height:100%;
	float:left;
}
#tutorial {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	/*width: calc(100% - 340px);*/
	width: 70%;
	padding:20px 40px;
	float: right;
	background-color: #fff;
}

header {
	padding: 20px 40px;
}

header h1 {
	color: #fff;
	font-family: 'Crete Round', serif;
	font-weight: normal;
	font-size: 46px;
	line-height: 54px;
}
.colorize {
	color:#8AC007;
}
nav ol a li {
	font-weight: bold;
	font-size: 20px;
	border-top: 1px #8AC007 solid;
	padding: 15px 40px 15px 90px;
	color: #fff;
	font-weight: bold;
}

nav ol a li:hover {
	background-color:#8AC007;
}

nav ol a li#curent{
	color: #000;
	font-weight: bold;
	font-size: 20px;
	padding: 15px 40px 15px 90px;
	background-color:#8AC007;
	margin: -1px 0;
}

nav ol a li#curent {
	color: #000;
	font-weight: bold;
}

nav ol > a li#curent:before {
	border:2px #000 solid;
   	color:#000;
}

#curent:after {
	content:"";
	display:block;
	position:absolute;
	right:-26px;
	top: 0;
	width:0;
	height:0;
	border-width:27px 13px 27px 13px;
	border-style:solid;
	border-color:transparent transparent transparent #8AC007;
}


nav ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; 
    padding-left:0;
}
nav ol > a li {
    position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */
}
nav ol > a li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    left:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:1.7em;
    padding:4px;
    color:#fff;
    border:2px #fff solid;
    border-radius: 1em;
    text-align:center;
    margin:-5px 0 0 40px; 
}

article {
	padding-top:18px;
}

article h1 {
	font-size: 36px;
	border-bottom:2px #333 solid;
	margin-bottom: 30px;
}

article h2 {
	font-size: 16px;
	color:#8AC007;
	text-transform: uppercase;
	border-bottom:1px #8AC007 solid;
	margin: 40px 0 20px 0;
}
article p {
	font-size: 14px;
	line-height: 21px;
}

footer { clear:both; background:#141414; padding: 40px;  }

.sm-twitter {
	float:left;
	padding: 20px 40px;
	width:100%;
	border-top: 1px #8AC007 solid;
}

.back-top {
	float:left;
	}
.sm-twitter a, .back-top a {
	color: #666;
}

.sm-twitter a:hover, .back-top a:hover {
	color:#fff;
}

.icon-twitter:before, .icon-twitter:hover { 
	font-family:'twitter'; 
	font-size: 20px;
	content: '\e800'; 
} 

.displayjs {
	width: 100%;
	min-height: 150px;
	margin: 20px 0;
}

div.hideshow, div.hideshowspeed, div.togglecontent {
	padding: 40px;
	background-color:#8AC007;
	margin:20px 0;
	font-size: 20px;
	color: #fff;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#div1 {width:200px;height:200px;border:1px solid #aaaaaa; margin:10px;background: url('../images/puzzlestatic.png');}
